body {
    .btnBan {
        display: flex;
        justify-content: center;
        margin: 2rem;
        .btnAdd {
            text-decoration: none;
            padding: 1rem 0.75rem;
            border-radius: 1rem;
            color: white;
            background-color: #134284;
            border: solid 0.2rem #134284;
            font-weight: bold;
        }
        .btnAdd:hover {
            color: #ffcc4d;
            
        }
    }
    .mainCatalogue {
        .item {
            display: flex;
            justify-content: space-around;
            margin: 2rem 0;
            .item-img {
                max-width: 35rem;
                img {
                    width: 100%;
                }
            }
            .item-description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .btns {
                    margin: 1rem 0;
                    display: flex;
                    justify-content: space-between;
                    
                    .btn-edit{
                        text-decoration: none;
                        padding: 1rem 0.75rem;
                        border-radius: 1rem;
                        background-color: #134284;
                        color: white;
                        font-weight: bold;
                        border: solid 0.2rem #134284;
                    }
                    .btn-edit:hover{
                        color: #ffcc4d;
                    }
                    .btn-delete {
                        text-decoration: none;
                        padding: 1rem 1.5rem ;
                        border-radius: 1rem;
                        color: #134284;
                        background-color: #ffcc4d;
                        font-weight: bold;
                        border: solid 0.2rem #ffcc4d;
                    }
                    .btn-delete:hover{
background-color: #e84118;
border: solid 0.2rem #e84118;
                    }
                }
            }
        }
    }
}
